In [12]:
import pandas as pd

In [13]:
data = pd.read_csv("aireCO2.csv")

In [14]:
data.head(2)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

Eliminamos columna Message

In [16]:
data = data.drop(columns=['Message'])

In [17]:
data['Time Period'] = pd.to_datetime(data['Time Period'], errors='coerce')

data_2017 = data[data['Time Period'].dt.year >= 2017]

data_2017.head(5)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value
1183,816757,643,Annual vehicle miles traveled,Million miles,per square mile,CD,305.0,East New York and Starrett City (CD5),2019-01-01,01/01/2019,58.1
1185,816805,643,Annual vehicle miles traveled,Million miles,per square mile,CD,105.0,Midtown (CD5),2019-01-01,01/01/2019,94.8
1382,816787,643,Annual vehicle miles traveled,Million miles,per square mile,CD,202.0,Hunts Point and Longwood (CD2),2019-01-01,01/01/2019,51.4
1525,816903,643,Annual vehicle miles traveled,Million miles,per square mile,Borough,4.0,Queens,2019-01-01,01/01/2019,57.5
1754,816753,643,Annual vehicle miles traveled,Million miles,per square mile,CD,307.0,Sunset Park (CD7),2019-01-01,01/01/2019,120.7

In [ ]:
fila_max = data_2017[data_2017['Data Value'] == data_2017['Data Value'].max()]

id_max = fila_max['Unique ID'].iloc[0]

print(f"El ID correspondiente al valor máximo en 'Data Value' es: {id_max}")

El ID correspondiente al valor máximo en 'Data Value' es: 816803

In [23]:
fila_unica = data_2017[data_2017['Unique ID'] == 816803]

# Imprimir la fila completa
print(f"La fila con 'Unique ID' 816803 es:\n{fila_unica}")

La fila con 'Unique ID' 816803 es:
      Unique ID  Indicator ID                           Name        Measure  \
1823     816803           643  Annual vehicle miles traveled  Million miles

         Measure Info Geo Type Name  Geo Join ID  \
1823  per square mile            CD        106.0

                            Geo Place Name Time Period  Start_Date  Data Value
1823  Stuyvesant Town and Turtle Bay (CD6)  2019-01-01  01/01/2019       191.2

El barrio de mayor concentracion de CO2 es Stuyvesant Town, se encuentra ubicado en Manhattan, lo cual no parece ilogico que tambien la contaminacion sonora mas grande se de en Manhattan tambien.

In [25]:

data_2017.to_csv('data_aireCO2.csv', index=False)